body{
    background-color: lightgreen;
}
.container{
    text-align: center;
    img{
        width:350px ;
        height: 200px;
    } 
}
.container{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px;
}

.col{
    border: 2px solid blue;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
    position: relative;
    

}

@keyframes colortransition2 {
    from{background-color: lightgreen;}
    to{background-color: lightblue;}
}

@keyframes locaitiontransition {
    from{background-color:rgba(0, 0, 255, 0);}
    to{background-color:rgba(0, 0, 255, 0.68);}
}

h2{
    position: absolute;
    display: none;
    margin: auto;
    left: 0;
    right: 0;
    top: 90px;
}

.col:hover{
    animation-name: colortransition2;
    animation-duration: 2s;
    background-color: lightblue;
    cursor: pointer;
    h2{
        background-color:rgba(0, 0, 255, 0.68);
        color: whitesmoke;
        display: unset;
        animation-name: locaitiontransition;
        animation-duration:2s;
    }
}





@media screen and (min-width:400px) {

    .col{
        flex-basis:40% ;

    }    
}


@media screen and (min-width:800px) {

    .col{
        flex-basis:20% ;

    }    
}